# Make sure we get the release candidates for implementations with new features
git+https://github.com/geoarrow/geoarrow-c.git#egg=geoarrow-c&subdirectory=python/geoarrow-c
git+https://github.com/geoarrow/geoarrow-python.git#egg=geoarrow-types&subdirectory=geoarrow-types
git+https://github.com/geoarrow/geoarrow-python.git#egg=geoarrow-pyarrow&subdirectory=geoarrow-pyarrow
geoarrow-rust-core >= 0.4.0b3
geoarrow-rust-io >= 0.4.0b3
geoarrow-rust-compute >= 0.4.0b3
pyogrio
pyarrow
pyyaml
geopandas
pandas
duckdb
pytest
